OnlineLibraryBack/.vs/OnlineLibraryBack/xs/UserPrefs.xml
OnlineLibraryBack/BusinessLayer/bin/Debug/net5.0/BusinessLayer.dll
OnlineLibraryBack/BusinessLayer/bin/Debug/net5.0/BusinessLayer.pdb
OnlineLibraryBack/BusinessLayer/bin/Debug/net5.0/DataAccessLayer.dll
OnlineLibraryBack/BusinessLayer/bin/Debug/net5.0/DataAccessLayer.pdb
OnlineLibraryBack/BusinessLayer/obj/Debug/net5.0/BusinessLayer.dll
OnlineLibraryBack/BusinessLayer/obj/Debug/net5.0/BusinessLayer.pdb
OnlineLibraryBack/DataAccessLayer/bin/Debug/net5.0/DataAccessLayer.dll
OnlineLibraryBack/DataAccessLayer/bin/Debug/net5.0/DataAccessLayer.pdb
OnlineLibraryBack/DataAccessLayer/bin/Debug/net5.0/ref/DataAccessLayer.dll
OnlineLibraryBack/DataAccessLayer/obj/Debug/net5.0/DataAccessLayer.dll
OnlineLibraryBack/DataAccessLayer/obj/Debug/net5.0/DataAccessLayer.pdb
OnlineLibraryBack/DataAccessLayer/obj/Debug/net5.0/ref/DataAccessLayer.dll
OnlineLibraryBack/OnlineLibraryBack/bin/Debug/net5.0/BusinessLayer.dll
OnlineLibraryBack/OnlineLibraryBack/bin/Debug/net5.0/BusinessLayer.pdb
OnlineLibraryBack/OnlineLibraryBack/bin/Debug/net5.0/DataAccessLayer.dll
OnlineLibraryBack/OnlineLibraryBack/bin/Debug/net5.0/DataAccessLayer.pdb
OnlineLibraryBack/OnlineLibraryBack/bin/Debug/net5.0/OnlineLibraryPresentationLayer.dll
OnlineLibraryBack/OnlineLibraryBack/bin/Debug/net5.0/OnlineLibraryPresentationLayer.pdb
OnlineLibraryBack/OnlineLibraryBack/obj/Debug/net5.0/OnlineLibraryPresentationLayer.csproj.AssemblyReference.cache
OnlineLibraryBack/OnlineLibraryBack/obj/Debug/net5.0/OnlineLibraryPresentationLayer.dll
OnlineLibraryBack/OnlineLibraryBack/obj/Debug/net5.0/OnlineLibraryPresentationLayer.pdb
